body{
    background-color: black;
    font-family: "Roboto", sans-serif;
    margin: 0cm;
}

main{
    margin: 2px;
    color: white;
}

h1, h2, p {
    color: white;
}

header{
    text-align: center;
}

header img{
    width: 12%;
}

nav{
    background-color:rgba(243, 214, 49, 0.897);
}
nav, footer p{
    text-align: center;
}

nav a {
    margin-left: 1%;
    margin-right: 1%;
    color: black;
    font-size: small;
    font-weight: bold;
}

h1{
    text-align: center;
    font-family: Dela Gothic One, sans-serif;
    font-size: large;
}

h2{
    text-align: center;
}

.f1{
    display: flex;
    flex-direction: column;
}

form{
    width: 75%;
}

legend{
    font-weight: bold;
}

.ten{
    margin-bottom: 10px;
}

.d1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer p{
    margin-left: 4px ;
    font-size: smaller;
}

footer{
    background-color: rgb(87, 85, 85);
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding-bottom: 4px;
}

footer a{
    color: rgb(102, 102, 255);
}

.d2{
    display: flex;
    flex-direction: column-reverse;
}

.bigmap{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.ml{
    text-align: center;
}

.hd{
    width: 100px;
}